
body .teste{
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    background: #212121;
}
body img{
    position: absolute;
    width: 128px;
    height: 128px;
    left: 123px;
    top: 342px;

    background: url(logo.png);
}
body input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;

    position: absolute;
    top: 600px;
    width: 295px;
    height: 42px;
    left: 40px;
    background: #CDCDCD;
    
}
